.main {
  position: relative;
}

.main_img_txt {
  font-size: 30px;
  position: absolute;
  bottom: 0;
  color: white;
  padding: 25px;
  line-height: 1.3;
}

.main__bg {
  background-image: url("https://a0.muscache.com/4ea/air/r:w775-h518-sfit,e:fjpg-c80/pictures/0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.main-float-form__txt {
  font-size: 30px;
  bottom: 0;
  color: black;
  line-height: 1.3;
  margin-bottom: 12px;
}

.main-float-form {
  background-color: white;
  width: 436px;
  height: 480px;
  position: absolute;
  top: 80px;
  left: 80px;
  padding: 34px;
  display: block;
}

@media screen and (min-width: 744px) {
  .main_img_txt {
    display: none;
  }
  .main-form {
    display: none;
  }
}

@media screen and (max-width: 744px) {
  .main-float-form {
    display: none;
  }
  .main__bg {
    height: 220px;
  }
}

@media screen and (max-width: 640px) {
  .main__bg {
    height: 270px;
  }
}